* {
  /* padding: 1em; */
}

.header-brief {
  border: 1px solid black;
}

.header-brief .main-content {
  display: inline-block;
}

.article-date::before {
  content: '\25CF';
  display: inline-block;
}

.social-actions > div {
  display: inline-block;
}
